<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<head>
	<title>사업자 - 상품 전체 리스트</title>
</head>
<style layout:fragment="style">
	tr[data-businessproduct-id] {
		cursor: pointer;
	}
</style>
<div layout:fragment="content">
	<div id="board-container" class="w-50 mx-auto text-center">
		<form name="productQnaCreateFrm"
			  th:action="@{/product/productQnaCreate.do}"
			  method="post"
			  enctype="multipart/form-data">
			<input type="text" class="form-control mb-3" th:value="${Member.memberId}" name="questioner" id="questioner" readonly>
			<input type="text" class="form-control mb-3" placeholder="제목" name="qnaTitle" id="qnaTitle" required>
			<input type="hidden" name="productNo" id="productNo" th:value="${id}">
			<input th:if="${questionId != null}" type="hidden" name="questionId" id="questionId" th:value="${questionId}">
			<!-- input:file소스 : https://getbootstrap.com/docs/4.1/components/input-group/#custom-file-input -->
			<div class="input-group mb-3" style="padding:0px;">
				<div class="input-group-prepend" style="padding:0px;">
					<span class="input-group-text">문의 이미지</span>
				</div>
				<div class="custom-file">
					<input type="file" class="custom-file-input" name="upFile" id="upFile" multiple>
					<label class="custom-file-label" for="upFile">문의 이미지를 선택하세요</label>
				</div>
			</div>
<!--			<textarea class="form-control  mb-3" name="qContent" placeholder="내용" required></textarea>-->
			<div>
				<textarea class="form-control mb-3" name="qContent" required th:text="${productQuestion?.qContent == null? '내용': productQuestion.qContent}"></textarea>
			</div>

			<input type="submit" class="btn btn-block btn-outline-success" value="저장">
		</form>
	</div>
</div>
<script layout:fragment="script" th:src="@{/js/businessQanswer/businessQanswer.js}">
</script>
</html>
