<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
	<title>게시글 상세보기</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
	<div id="product-container" class="w-50 mx-auto text-center">
		<form name="productFrm" id="myForm"
			  method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<p th:text="${product.productName}" th:style="'font-size: 40px;'"></p>
			<span th:text="|할인 전: ${product.productPrice}원|" th:style="'text-decoration:line-through; margin-right: 10px;'"></span>
			<input id="product-id" name="productId" type="hidden" th:value='${product.id}'>
			<span th:text="|할인 후:|" th:style="'color: red;'"></span>
			<span id="product-sellPrice" th:style="'color: red;'">[[${product.sellPrice}]]</span>
			<span th:text="|원|" th:style="'color: red;'"></span>
			<br>
			<div th:if="!${#lists.isEmpty(product.productOptions)}">
				<select name="selectOption" id="selectOption">
						<span th:each="productOption : ${product.productOptions}">
							<option
									th:value="|${productOption.id}#${productOption.optionCost}|"
									th:text="|${productOption.optionName} +${productOption.optionCost}원|">
							</option>
						</span>
				</select>
			</div>
			<span th:text="|구매수량:|"><span th:style="'margin-right: 10px;'"></span></span>
			<span><button id="plus-btn" class="quantity-btn">+</button></span>
			<input id="product-quantity" name="productQuantity" type="text" value='1' style="width: 45px; border: none; outline: none; text-align: center;">
			<span><button id="minus-btn" class="quantity-btn">-</button></span>
			<br>
			<span th:text="|최종 가격:|" th:style="'color: red;'"></span>
			<input id="product-totalPrice" name="totalPrice" type="number" th:value="${product.sellPrice}" style="width: 100px; border: none; outline: none; text-align: center; color: red;" disabled readonly>
			<span th:text="|원|" th:style="'color: red; margin-right: 50px;'"></span>
			<br>
			<button type="button" onclick="submitForm('purchase')">구매하기</button>
			<button type="button" onclick="submitForm('cart')">장바구니</button>
		</form>
	</div>
	<div class="text-center" style="padding: 0 50px; background-color: gray;">
		<button id="product-detail-list" th:text="|상품 상세보기|" style="margin-right: 200px; width: 150px;"
				th:onclick="|location.href = '@{productDetailList.do}?id=${product.id}';|"></button>
		<button id="product-review" th:text="|리뷰 상세보기|" style="margin-right: 200px; width: 150px;"
				th:onclick="|location.href = '@{productReview.do}?id=${product.id}';|"></button>
		<button id="product-qna" th:text="|Q&A|" style="width: 150px;"
				th:onclick="|location.href = '@{productQna.do}?id=${product.id}';|"></button>
	</div>
	<input type="hidden" id="refOptionCost" th:value="0">
</div>
<script layout:fragment="script" th:src="@{/js/product/productDetail.js}"></script>
</html>
