<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>
    </title>
</head>
<style layout:fragment="style">
    div[data-product-id] {
        cursor: pointer;
    }
</style>
<div layout:fragment="content">
    <div class="grid justify-items-center m-11 mx-64">
    <div class="border-b border-gray-200">
        <div class="sm:flex sm:items-baseline">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
                가격대별
            </h3>
            <div class="mt-4 sm:ml-10 sm:mt-0">
                <nav class="-mb-px flex space-x-8">
                    <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                    <a
                            href="#" id="btnUnder10000"
                            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium" onclick="changeButtonStyle('btnUnder10000')"
                            aria-current="page"
                            th:text="|1만원 이하|" th:href="@{/product/productList.do?price=10000}">1만원 이하</a
                    >
                    <a
                            href="#" id="btnUnder50000"
                            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium" onclick="changeButtonStyle('btnUnder50000')"
                            th:text="|5만원 이하|"  th:href="@{/product/productList.do?price=50000}">5만원 이하</a
                    >

                    <a
                            href="#" id="btnUnder100000"
                            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium" onclick="changeButtonStyle('btnUnder100000')"
                            th:text="|10만원 이하|" th:href="@{/product/productList.do?price=100000}">10만원 이하</a
                    >
                    <a
                            href="#" id="btnAbove100000"
                            class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 pb-4 text-sm font-medium" onclick="changeButtonStyle('btnAbove100000')"
                            th:text="|10만원 이상|" th:href="@{/product/productList.do?price=100001}">10만원 이상</a
                    >
                </nav>
            </div>
        </div>
    </div>
    <section id="product-container" class="container mx-auto px-4 py-8">
        <p class="text-lg font-semibold text-gray-800">총 [[${totalCount}]]건의 상품이 조회되었습니다.</p>
        <div class="overflow-x-auto">


            <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-3 lg:grid-cols-3">
                <div th:each="product, status : ${products}"  th:data-product-id="${product.id}" class="group relative mt-12">
                    <div  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <img th:if="${#lists.isEmpty(product.attachmentList)}" th:src="@{/images/일반회원.png}" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        <img th:if="!${#lists.isEmpty(product.attachmentList)}" th:src="${product.attachmentList[0].url}" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">-->
                    </div>
                    <div class="mt-4 flex justify-between">
                        <div>
                            <a href="#" class="text-sm text-gray-700">
                                <span aria-hidden="true" class="absolute inset-0" th:text="'판매자 : ' + ${product.memberName}"></span>
                            </a>
                            <p class=" text-m text-gray-500" th:text="${product.productName}"></p>
                        </div>
                        <p class="text-sm font-medium text-gray-900" th:text="${product.applyPrice} + '원'"></p>
                    </div>
                </div>
                <!-- 반복 블록 끝 -->
            </div>


        </div>
        <div id="pagebar" class="mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex justify-center">
                    <th:block th:utext="${pagebar}"/>
                </ul>
            </nav>
        </div>
    </section>
    </div>
</div>

<script layout:fragment="script" th:src="@{/js/product/productList.js}"></script>
</html>
