<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>회원 상품 주문 내역</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">

	<section id="product-container" class="container mx-auto px-4 py-8 bg-gray-100 rounded-lg shadow-lg">
		<p class="text-lg font-semibold text-gray-800 mb-4">총 [[${totalCount}]]건의 주문이 조회되었습니다.</p>
		<div class="overflow-x-auto">
			<table id="tbl-product" class="table-auto w-full bg-white rounded-lg shadow-md">
				<thead class="bg-gradient-to-r from-purple-300 via-pink-300 to-orange-300 text-gray-700">
				<tr>
					<th class="px-4 py-2">구매일자</th>
					<th class="px-4 py-2">상품명</th>
					<th class="px-4 py-2">옵션 명</th>
					<th class="px-4 py-2">옵션 금액</th>
					<th class="px-4 py-2">주문 수량</th>
					<th class="px-4 py-2">결제 금액</th>
				</tr>
				</thead>
				<tbody class="divide-y divide-gray-300">
				<tr th:each="order, status : ${orders}" th:data-product-id="${order.id}" class="hover:bg-gray-50">
					<td class="border px-4 py-2" th:text="${order.productLog.purchaseDate}"></td>
					<td class="border px-4 py-2" th:text="${order.product.productName}"></td>
					<td class="border px-4 py-2" th:text="${order.productOption.optionName}"></td>
					<td class="border px-4 py-2" th:text="${order.productOption.optionCost}"></td>
					<td class="border px-4 py-2" th:text="${order.purchaseQuantity}"></td>
					<td class="border px-4 py-2 text-purple-600" th:text="|${order.payAmount}원|"></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div id="pagebar" class="mt-4">
			<nav aria-label="Page navigation example">
				<ul class="pagination flex justify-center">
					<th:block th:utext="${pagebar}"/>
				</ul>
			</nav>
		</div>
	</section>

</div>

<script layout:fragment="script"></script>
</html>
