<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>상품 질문과 답변</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="flex justify-center items-center h-screen">
        <section class="px-4 py-8">
            <table class="w-full">
                <tbody>
                <th:block th:each="question, status: ${questions}">
                    <tr class="pb-10">
                        <td class="text-lg font-semibold" th:text="|작성자: ${question.memberId}|"></td>
                    </tr>
                    <tr class="pb-10">
                        <td class="text-lg" th:text="|내용: ${question.qContent}|"></td>
                    </tr>
                    <tr class="pb-10">
                        <td colspan="2">
                            <div th:if="${question.productAnswer != null}" th:data-product-id="${question.product.id}">
                                <span th:if="${question.productAnswer.aContent != null}" th:text="|답변: ${question.productAnswer.aContent}|"></span>
                                <span th:if="${question.productAnswer.aContent == null}">답변: 답변 대기 중입니다.</span>
                            </div>
                            <div th:if="${question.productAnswer == null}">답변: 답변 대기 중입니다.</div>
                            <span th:if="${question.memberId == member.memberId}">
                            <form th:action="@{/product/qnafurcate.do}" name="qnafurcateFrm" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <input type="hidden" th:name="questionerId" th:value="${question.memberId}"/>
                                <input type="hidden" th:name="questionId" th:value="${question.id}"/>
                                <input th:if="${productId != null}" type="hidden" th:name="productId" th:value="${productId}"/>
                                <button type="submit" name="action" value="update" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l mr-2">수정</button>
                                <button type="submit" name="action" value="delete" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-r">삭제</button>
                            </form>
                        </span>
                        </td>
                    </tr>
                    <!-- 각 반복되는 요소들 사이에 간격을 주기 위한 추가된 <tr> 태그 -->
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" th:onclick="|location.href = '@{productQnaCreatePage.do}?id=${productId}';|">문의 작성</button>
            <div id="pagebar" class="mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination flex justify-center">
                        <th:block th:utext="${pagebar}"/>
                    </ul>
                </nav>
            </div>
        </section>


    </div>
</div>

<script layout:fragment="script" th:src="@{/js/product/productQna.js}"></script>
</html>
