<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>상품 리뷰</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
	<table>
		<tbody>
			<div th:each="review, status: ${reviews}">
				<tr>
					<td>
						<span th:text="${review.memberId}"></span>
					</td>
					<td>
						<span th:text="${review.reviewRegdate}"></span>
					</td>
					<td>
						<span th:text="|별점|"></span>
						<spane th:each="i : ${#numbers.sequence(1, review.starPoint)}" th:text="|★|"></spane>
					</td>
				</tr>
				<tr>
					<td>
						<span th:text="${review.reviewContent}"></span>
						<span th:if="${review.memberId == member.memberId}">
							<form th:action="@{/product/reviewfurcate.do}" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<input type="hidden" th:name="reviewerId" th:value="${review.memberId}"/>
								<input type="hidden" th:name="reviewId" th:value="${review.id}"/>
								<input type="hidden" th:name="productId" th:value="${productId}"/>
								<button type="submit" name="action" value="update">수정</button>
								<button type="submit" name="action" value="delete">삭제</button>
							</form>
						</span>
					</td>
				</tr>
			</div>
		</tbody>
	</table>
	<button th:onclick="|location.href = '@{productReviewCreatePage.do}?id=${productId}';|">리뷰 작성</button>
	<div id="pagebar">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<th:block th:utext="${pagebar}"/>
			</ul>
		</nav>
	</div>
</div>

<script layout:fragment="script"></script>
</html>
