<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>
    </title>
</head>
<style layout:fragment="style">
    tr[data-product-id] {
        cursor: pointer;
    }
</style>

<div layout:fragment="content">

    <table>
        <tbody>
        <tr>
            <td>
                <span th:text="가격"></span>
            </td>
            <td>
                <a th:text="|1만원 이하|" id="under10000btn" th:href="@{/product/productList.do?price=10000}"></a>
            </td>
            <td>
                <a th:text="|5만원 이하|" id="under50000btn" th:href="@{/product/productList.do?price=50000}"></a>
            </td>
            <td>
                <a th:text="|10만원 이하|" id="under100000btn" th:href="@{/product/productList.do?price=100000}"></a>
            </td>
            <td>
                <a th:text="|10만원 이상|" id="upper100000btn" th:href="@{/product/productList.do?price=100001}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <section id="product-container" class="container">
        <p>총 [[${totalCount}]]건의 상품이 조회되었습니다.</p>
        <table id="tbl-product" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>상품명</th>
                <th>상점명</th>
                <th>판매가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, status : ${products}" th:data-product-id="${product.id}">
                <a>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.bizName}"></td>
                    <td th:text="|${product.sellPrice}원|"></td>
                </a>
            </tr>
            </tbody>
        </table>
        <div id="pagebar">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <th:block th:utext="${pagebar}"/>
                </ul>
            </nav>
        </div>
    </section>
</div>

<script layout:fragment="script" th:src="@{/js/product/productList.js}"></script>
</html>
