<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title></title>
</head>
<style layout:fragment="style"></style>

<h1>회원 목록</h1>
    <div layout:fragment="content" class="mx-12 mt-12 px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">회원관리</h1>
                <p class="mt-2 text-sm text-gray-700">환영합니다, 관리자님! 여기는 웹사이트의 핵심을 관리하는 곳, 회원 관리 페이지입니다. </br>이 페이지를 통해 관리자님은 웹사이트의 회원 정보를 손쉽게 삭제할 수 있으며, 회원의 활동 상태를 관리할 수 있습니다. </br>이 페이지는 사용자의 편의성과 효율적인 관리를 위해 설계되었습니다.</p>
            </div>

        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                        <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">아이디</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">이름</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">성별</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">전화번호</th>
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        <tr th:each="member : ${members}" class="even:bg-gray-50">
                            <td th:text="${member.memberId}" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"></td>
                            <td th:text="${member.name}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                            <td th:text="${member.gender}"  class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                            <td th:text="${member.phone}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"></td>
                            <td>
                                <form th:action="@{/admin/memberList.do}" method="post">
                                    <input type="hidden" id="memberId" name="memberId" th:value="${member.memberId}">
                                    <button type="submit" class="text-indigo-600 hover:text-red-600">삭제</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!--<script layout:fragment="script">-->
</script>
</html>
