<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/community}"><html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8" />
    <title>2021 MINI HOMEPAGE</title>
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/diary.css}" />
    <script src="https://kit.fontawesome.com/8bcf872b48.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bookcover">
    <div class="bookdot">
        <div class="page">
            <div class="home">
                <div class="upside">
                    <br><strong>&emsp;&emsp;&emsp;TODAY <span style="color:coral;">28</span> | TOTAL 234918</strong> &emsp;&emsp;&emsp; &emsp; <span class="title">티벳토끼의 잡동사니</span> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;joseph-106.github.io/2021_MINI_HOMEPAGE
                </div>
                <div class="home_main">
                    <div class="profile">
                        <div class="profile_1">
                            <img class="profile_image" th:src="@{/images/티벳토끼.jpg}"/>
                        </div>
                        <div class="profile_2">안녕하세요.. 코딩하는 티벳토끼입니다. 웹 개발도 깊게 들어갈수록 어렵네요... <br><br>이게 맞나 싶으면서도 어떻게는 완성이 되는게 뭔가 모래성을 쌓는 기분입니다..^^</div>
                        <div class="profile_3">*사실 토끼가 아니라 비스카차
                            <div class="profile-dropdown">
                                <div class="dropdown-btn">
                                    <div class="dropdown-title">Related Link</div>
                                    <div class="triangle-down"></div>
                                </div>
                                <div class="dropdown-content">
                                    <a href="https://programming-oddments.tistory.com/" target="_blank">Devlog</a>
                                    <a href="https://github.com/joseph-106" target="_blank">Github</a>
                                    <a href="https://www.instagram.com/ksj_106/" target="_blank">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home_contents">
                        <div class="calendar">
                            <div class="today">03.31<br>Wed</div>
                            <div class="day_list"><span style="color:royalblue;">1</span> &nbsp;2 &nbsp;3 &nbsp;4 &nbsp;<span style="color:royalblue;">5</span> &nbsp;6 &nbsp;<span style="color:orangered;">7</span> &nbsp;8 &nbsp;9 &nbsp;10 &nbsp;11 &nbsp;12 &nbsp;13 &nbsp;<span style="color:orangered;">14</span> &nbsp;15 &nbsp;16 &nbsp;17 &nbsp;18<br>19 &nbsp;<span style="color:royalblue;">20</span> &nbsp;<span style="color:orangered;">21</span> &nbsp;23 &nbsp;24 &nbsp;25 &nbsp;26 &nbsp;27 &nbsp;<span style="color:orangered;">28</span> &nbsp;29 &nbsp;30 &nbsp;31</div>
                        </div>
                        <div class="diary">
                            <div class="diary_contents">
                                <div class="diary_date">2021.03.31 수 10:11</div>
                                <div class="diary_text">
                                    오늘도 하루 잘 살았다.<br>
                                    굽은 길은 굽게 가고<br>
                                    곧은 길은 곧게 가고<br><br>

                                    막판에는 나를 싣고<br>
                                    가기로 되어 있는 차가<br>
                                    제시간보다 일찍 떠나는 바람에<br>
                                    걷지 않아도 좋은 길을 두어 시간<br>
                                    땀 흘리며 걷기도 했다.<br><br>

                                    그러나 그것도 나쁘지 아니했다<br>
                                    걷지 않아도 좋은 길을 걸었으므로<br>
                                    만나지 못했을 뻔했던 싱그러운<br>
                                    바람도 만나고 수풀 사이<br>
                                    빨갛게 익은 멍석딸기도 만낙<br>
                                    해 저문 개울가 고기비늘 찍으러 온 물총새<br>
                                    물총새, 쪽빛 날갯짓도 보았으므로.<br><br>

                                    이제 날 저물려 한다<br>
                                    길바닥을 떠돌던 바람은 잠잠해지고<br>
                                    새들도 머리를 숲으로 돌렸다<br>
                                    오늘도 하루 나는 이렇게<br><br>

                                    잘 살았다.
                                </div>
                            </div>
                            <div class="diary_contents">
                                <div class="diary_date">2021.03.30 화 2:32</div>
                                <div class="diary_text">
                                    전신이 검은 까마귀,<br>
                                    까마귀는 까치와 다르다.<br><br>

                                    마른 가지 끝에 높이 앉아<br>
                                    먼 설원을 굽어보는 저<br>
                                    형형한 눈<br>
                                    고독한 이마 그리고 날카로운 부리.<br><br>

                                    얼어붙은 지상에는<br>
                                    그 어디에도 낱알 한 톨 보이지 않지만<br>
                                    그대 차라리 눈발을 뒤지다 굶어 죽을지언정<br>
                                    결코 까치처럼<br>
                                    인가의 앞마당을 넘보진 않는다.<br><br>

                                    검을 테면<br>
                                    철저하게 검어라. 단 한 개의 깃털도<br>
                                    남기지 말고......<br>
                                    겨울 되자 온 세상 수북이 눈 내려<br>
                                    저마다 하얗게 하얗게 분장하지만<br>
                                    나는<br>
                                    빈 가지 끝에 홀로 앉아<br>
                                    말없이<br>
                                    먼 지평선을 응시하는 한 마리<br>
                                    검은 까마귀가 되리라.<br>
                                </div>
                            </div>
                            <div class="diary_contents">
                                <div class="diary_date">2021.03.29 월 1:06</div>
                                <div class="diary_text">
                                    나방파리<br><br>

                                    요즘 들어 슬슬 보이는<br>
                                    나방도 아니고 파리도 아닌 이 애매한 것들은<br>
                                    아무것도 하지 않는다.<br><br>

                                    미동도 하지 않는 녀석들을<br>
                                    손가락으로 살포시 누르면<br>
                                    그대로 그냥 죽어버리는 것이다.<br><br>

                                    나방을 경외하고 파리를 멸시하지만<br>
                                    아마 나방도 파리도 될 수 없었겠지<br><br>

                                    아마<br>
                                    가만히 누워있는 나처럼<br>
                                    생각만 많은 것이겠지
                                </div>
                            </div>
                            <button id="button" onclick="getTextFile()"><i class="fas fa-paw"></i> 티벳토끼의 비밀일기</button>
                            <div class="diary_contents" id="hidden">
                                <div class="diary_date">티벳토끼의 비밀일기</div>
                                <div class="diary_text">
                                    <div id="secret_txt"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_bar">
                <a th:href="@{/community/home.do}" class="menu_button1">&nbsp;&nbsp;홈</a>
                <a th:href="@{/community/diary.do}" class="menu_button2">&nbsp;&nbsp;다이어리</a>
                <a th:href="@{/community/photo.do}" class="menu_button3">&nbsp;&nbsp;사진첩</a>
                <a th:href="@{/community/visit.do}" class="menu_button4">&nbsp;&nbsp;방명록</a>
            </div>
        </div>
    </div>
</div>
    <script>
      function getTextFile() {
          var input = document.createElement("input");
          input.type = "file";
          input.accept = "text/plain"
          input.onchange = function (event) {
              processFile(event.target.files[0])
          };
          input.click();
      }

      function processFile(file) {
          var reader = new FileReader();
          reader.readAsText(file, "utf-8");

          reader.onload = function () {
              document.getElementById("secret_txt").innerText = reader.result;
              document.getElementById("hidden").style.display = "block";
          };
      }
  </script>
  </body>
</div>
</html>
