<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">


<link rel="stylesheet" href="../../static/css/visit.css">
<div layout:fragment="content">

    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/zipRoom.css}">
<head>
  <meta charset="UTF-8" />
  <title th:text="${#authentication.principal.member.name + '.zip'}"></title>
</head>
<body>
<div class="bookcover" th:style="'background-color:' + ${zipColorCode}">
  <div class="bookdot">
    <div class="page">
      <div class="home" >
        <div class="upside">
          <br><strong th:text="${'Today : ' + zipDayCount + ' | Total : ' + zipTotalCount}"></strong>
        </div>
        <div class="home_main">
          <div class="profile">
            <div class="profile_1">
              <img class="profile_image" th:src="@{/images/티벳토끼.jpg}"/>
            </div>
            <div class="profile_2" th:text="${zipContent}"></div>
            <div class="updated_news_title"><br><strong>Updated news</strong></div>
            <div class="updated_news_contents">
              <div class="updated_news_left">
                <span class="updated_news_left1"><span class="updated_news_red">사진첩</span> 아기하마</span>
                <span class="updated_news_left2"><span class="updated_news_blue">게시판</span> 티벳토끼의 잡동사니입니다</span>
                <span class="updated_news_left3"><span class="updated_news_blue">게시판</span> 둘러보고 가세요~</span>
                <span class="updated_news_left4"><span class="updated_news_red">사진첩</span> 아빠가 왕도마뱀이면?</span>
              </div>
            </div>
            <div class="profile_3">*사실 토끼가 아니라 비스카차
              <div class="profile-dropdown">
                <div class="dropdown-btn">
                  <div class="dropdown-title">Related Link</div>
                  <div class="triangle-down"></div>
                </div>
                <div class="dropdown-content">
                  <a href="https://programming-oddments.tistory.com/" target="_blank">Devlog</a>
                  <a href="https://github.com/joseph-106" target="_blank">Github</a>
                  <a href="https://www.instagram.com/ksj_106/" target="_blank">Instagram</a>
                </div>
              </div>
            </div>
          </div>
          <div class="home_contents">

            <div class="miniroom_title"><br><strong th:text="${#authentication.principal.member.name + '님의 집 | 생성일 : ' + zipRegDate}"></strong></div>
            <div class="miniroom_contents">
              <div class="row">
                <div class="column" style="background-color:#aaa; height: 100%;">칸 1</div>
                <div class="column" style="background-color:#bbb; height: 100%;">칸 2</div>
                <div class="column" style="background-color:#ccc; height: 100%;">칸 3</div>
                <div class="column" style="background-color:#ddd; height: 100%;">칸 4</div>
              </div>
              <div class="row">
                <div class="column" style="background-color:#eee; height: 100%;">칸 5</div>
                <div class="column" style="background-color:#fff; height: 100%;">칸 6</div>
                <div class="column" style="background-color:#aaa; height: 100%;">칸 7</div>
                <div class="column" style="background-color:#bbb; height: 100%;">칸 8</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu_bar">
        <a th:href="@{/community/home.do}" class="menu_button1">홈</a>
        <a th:href="@{/community/tipList.do}" class="menu_button3">팁공유</a>
        <a th:href="@{/community/diary.do}" class="menu_button2">다이어리</a>
        <a th:href="@{/community/visit.do}" class="menu_button4">방명록</a>
        <a th:href="@{/community/visit.do}" class="menu_button4">채팅</a>
      </div>
    </div>
  </div>
</div>

</body>
</div>

</html>
