<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/zip}">
<div layout:fragment="content">
<head>
  <meta charset="UTF-8" />
  <title th:text="${#authentication.principal.member.name + '.zip 방명록'}"></title>
  <link rel="stylesheet" th:href="@{/css/font.css}" />
  <link rel="stylesheet" th:href="@{/css/layout.css}" />
  <link rel="stylesheet" th:href="@{/css/visit.css}" />
  <script src="https://kit.fontawesome.com/8bcf872b48.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="bookcover" th:style="'background-color:' + ${zipColorCode}">
  <div class="bookdot">
    <div class="page">
      <div class="home">
        <div class="upside">
          <br><strong>TODAY 28 | TOTAL 234918</strong>
        </div>
        <div class="home_main">
          <div class="profile">
            <div class="profile_1">
              <img class="profile_image" th:src="@{/images/아이유.jpg}"/>
            </div>
            <div class="profile_2" th:text="${zipContent}"></div>
            <div class="updated_news_title"><br><strong>Updated news</strong></div>
            <div class="updated_news_contents">
              <div class="updated_news_left">
                <span class="updated_news_left1"><span class="updated_news_red">사진첩</span> 아기하마</span>
                <span class="updated_news_left2"><span class="updated_news_blue">게시판</span> 티벳토끼의 잡동사니입니다</span>
                <span class="updated_news_left3"><span class="updated_news_blue">게시판</span> 둘러보고 가세요~</span>
                <span class="updated_news_left4"><span class="updated_news_red">사진첩</span> 아빠가 왕도마뱀이면?</span>
              </div>
            </div>
            <div class="profile_3">*사실 토끼가 아니라 비스카차
              <div class="profile-dropdown">
                <div class="dropdown-btn">
                  <div class="dropdown-title">Related Link</div>
                  <div class="triangle-down"></div>
                </div>
                <div class="dropdown-content">
                  <a href="https://programming-oddments.tistory.com/" target="_blank">Devlog</a>
                  <a href="https://github.com/joseph-106" target="_blank">Github</a>
                  <a href="https://www.instagram.com/ksj_106/" target="_blank">Instagram</a>
                </div>
              </div>
            </div>
          </div>
          <div class="home_contents">
            <div class="visit_contents">
              <div class="visit_title">&emsp;no. 03 <span style="color:mediumblue">지나가던 개</span> <i class="fas fa-home"></i><span class="visit_date"> (2021.04.03 2:37)</span></div>
              <div class="visit_container">
                <div class="visit_picture visit_background3">
                  <img th:src="@{/images/dog.png}" alt="개 프로필 사진" />
                </div>
                <div class="visit_text">멍멍멍멍멍멍ㅁ엄엄ㅇㅇ멈ㅇㅁ엄ㅇㅇㅁ<br><br>왈왈왈오랑왈오랑랑ㄹ아롱ㄹ<br><br>컹컹컹컹컹커ㅓㅋ엉ㅋ<br><br>(대충 잘 보고 간다는 뜻)</div>
              </div>
              <div class="visit_title">&emsp;no. 02 <span style="color:mediumblue">진짜 토끼</span> <i class="fas fa-home"></i><span class="visit_date"> (2021.04.02 8:37)</span></div>
              <div class="visit_container">
                <div class="visit_picture visit_background2">
                  <img th:src="@{/images/rabbit.png}" alt="토끼 프로필 사진" />
                </div>
                <div class="visit_text">티벳토끼님 안녕하세요^^<br><br><br>그런데 프사보니까 좀 수상한데..<br><br>진짜 토끼 맞나요?</div>
              </div>
              <div class="visit_title">&emsp;no. 01 <span style="color:mediumblue">이상하게 생긴 개구리</span> <i class="fas fa-home"></i><span class="visit_date"> (2021.04.01 5:12)</span></div>
              <div class="visit_container">
                <div class="visit_picture visit_background1">
                  <img th:src="@{/images/frog.png}" alt="개구리 프로필 사진" />
                </div>
                <div class="visit_text">미니홈피가 정말 깔끔하고 센스있고 재밌네요!<br><br><br>제 점수는 10점 만점에..<br><br>150점드리겠습니다.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu_bar">
        <a th:href="@{'/zip/zipDetail.do?id=' + ${zip.id}}" class="menu_button1">홈</a>
        <a th:href="@{/zip/photo.do}" class="menu_button3">팁공유</a>
        <a th:href="@{/zip/diary.do}" class="menu_button2">다이어리</a>
        <a th:href="@{/zip/visit.do}" class="menu_button4">방명록</a>
        <a th:href="@{/zip/visit.do}" class="menu_button4">채팅</a>
      </div>
    </div>
  </div>
</div>
</body>
</div>
</html>
