<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/zip}">


<script src="../../static/js/zip/roomImage.js"></script>
<link rel="stylesheet" href="../../static/css/visit.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<div layout:fragment="content">

    <link rel="stylesheet" th:href="@{/css/zipDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/zipRoom.css}">
    <link rel="stylesheet" th:href="@{/css/neighborList.css}" />
    <link rel="stylesheet" th:href="@{/css/roomIamge.css}" />
<head>
  <meta charset="UTF-8" />
  <title th:text="${memberName} + '.zip'"></title>
  <style>
    .grid-cell {
      width: 100px;
      height: 100px;
    }
    .image-placeholder {
      background-color: #D1D5DB; /* Tailwind gray-300 */
    }
    .slider-container {
        position: relative;
        width: 100%;
        max-width: 600px; /* 슬라이더의 최대 너비 설정 */
        margin: 0 auto; /* 가운데 정렬 */
        overflow: hidden; /* 넘치는 이미지를 감춥니다. */
    }

    .slider {
        display: flex; /* 이미지를 가로로 나란히 배치합니다. */
        transition: transform 0.5s ease; /* 슬라이드 전환 효과를 부드럽게 만듭니다. */
    }

    .slider img {
        width: 100%; /* 이미지를 슬라이더의 너비에 맞게 조정합니다. */
        height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
    }

    .slider-controls {
        margin-top : 20px;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .slider-controls button {
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .slider-controls button:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
  </style>
</head>
<body>
<div class="bookcover" th:style="'background-color:' + ${zip.colorCode}">
  <div class="bookdot">
    <div class="page">
      <div class="home" >
        <div class="upside">
          <br><strong th:text="${'Today : ' + zipDayCount + ' | Total : ' + zipTotalCount}"></strong>
          <div class="search_form_title">
            <form id="searchForm" method="post">
              <input type="text" id="memberId" name="memberId" placeholder="회원 아이디" required>
              <input type="hidden" id="csrf" th:value="${_csrf.token}" />
              <button type="submit">검색</button>
            </form>
<!--            <button id="neighborBtn" th:if="${session.zip.id} == ${zipId}" type="button">내 이웃</button>-->
          </div>
        </div>
        <div class="home_main">
          <div class="profile" th:style="'color:' + ${zipColorCode}">
            <div class="profile_1">
                대표 사진
              <div th:if="${pfAttachments}" style="text-align: center">
                    <img th:src="${pfAttachments.url}" style="width: 225px;display: inline-block;border-radius: 50%;"/>
              </div>

            </div>
              <div class="content_title"><strong>소개글</strong><br></div>
            <div class="profile_2" th:text="${zipContent}"></div>
            <div class="updated_news_title"><br><strong>Updated news</strong></div>
            <div class="updated_news_contents">
              <div class="updated_news_left">
                <span th:each="tip, iterStat : ${latestTips}">
                    <span th:class="'updated_news_left' + ${iterStat.index + 1}">
                        <span class="updated_news_red" th:text="'팁 게시판'">팁 게시판</span>
                        <a th:href="@{/community/tipDetail.do(id=${tip.id})}" th:text="${tip.tipTitle}">제목</a>
                    </span>
                </span>
              </div>
            </div>
            <div class="profile_3">
              <div class="profile-dropdown">
                <div class="dropdown-btn">
                  <div class="dropdown-title">이웃 목록</div>
                  <div class="triangle-down"></div>
                </div>
                <div class="dropdown-content">
                  <a th:each="neighbor : ${neighbors}" th:href="@{|http://localhost:8080/onezip/zip/zipDetail.do?id=${neighbor.get('member_zip_id')}|}"  th:text="${neighbor.get('memberId') + '(' + neighbor.get('memberName') + ')'}"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="home_contents">

            <div class="miniroom_title"><strong th:text="${memberName} + '님의 집 | 생성일 : ' + ${zipRegDate}"></strong>
              <div id="neighborForm">
                <form id="addNeighborForm" th:unless="${session.zip.id} == ${zipId}" method="post">
                  <input type="hidden" id="nCsrf" name="nCsrf" th:value="${_csrf.token}" />
                  <input type="hidden" id="memberId1" name="memberId1" th:value="${#authentication.principal.member.memberId}" />
                  <input type="hidden" id="memberId2" name="memberId2" th:value="${memberId}" />
                  <button type="submit" >이웃 신청</button>
                </form>
                <button th:unless="${session.zip.id} == ${zipId}" onclick="deleteNeighbor(${neighborId})">이웃 삭제</button>
              </div>
            </div>
            <div class="miniroom_contents" th:style="'color:' + ${zipColorCode}">
              <table>
                <tr class="row1">
                  <td class="box1" th:rowspan="2" style="vertical-align: middle">
                      내 방
                      <div class="slider-container" style="padding-top: 0; height: 340px;">
                          <div id="roomImageCarousel" class="slider">
                              <img id="rolImage" th:if="${roAttachments.size != 0}" th:each="roAttachment : ${roAttachments}" th:src="${roAttachment.url}" alt="Carousel Image" class="slide max-w-full max-h-full" />
                          </div>
                      </div>
                      <div class="slider-controls">
                          <button id="prevBtn" onclick="prevSlide()"> < </button>
                          <button id="nextBtn" onclick="nextSlide()"> > </button>
                      </div>
                  </td>
                    <td class="box3" style="padding-top:0">
                        프로필
                        <div class="flex justify-center items-center h-screen" style="display: inline">
                            <div class="bg-white shadow-lg rounded-lg p-6" style="padding-bottom: 0.9rem">
                                <div class="border-b-2 pb-2" style="margin-bottom: 1rem; padding-bottom: 0">
                                    <h5 class="text-xl font-semibold">.𝑷𝒓𝒐𝒇𝒊𝒍𝒆</h5>
                                </div>
                                <div style="line-height: 1rem; margin-bottom: 0;">
                                    <!-- 프로필 정보 -->
                                    <label class="inline-block text-gray-700 text-sm font-bold mb-2">닉네임 : </label>
                                    <span th:text="${zip.member.nickname != null ? zip.member.nickname : '미작성'}"></span>
                                    <br>
                                    <label class="inline-block text-gray-700 text-sm font-bold mb-2">생일 : </label>
                                    <span th:text="${zip.member.birthday != null ? zip.member.birthday : '미작성'}"></span>
                                    <br>
                                    <label class="inline-block text-gray-700 text-sm font-bold mb-2">성별 : </label>
                                    <span th:text="${zip.member.gender != null ? zip.member.gender : '미작성'}"></span>
                                    <br>
                                    <label class="inline-block text-gray-700 text-sm font-bold mb-2">취미 : </label>
                                    <span th:text="${zip.member.hobby != null ? zip.member.hobby : '미작성'}"></span>
                                    <br>
                                    <label class="inline-block text-gray-700 text-sm font-bold mb-2">MBTI : </label>
                                    <span th:text="${zip.member.mbti != null ? zip.member.mbti : '미작성'}"></span>
                                    <br>
<!--                                    <label class="block text-gray-700 text-sm font-bold mb-2">주소 : </label>-->
<!--                                    <span th:text="${zip.member.memberAddr != null ? zip.member.memberAddr : '미작성'}"></span>-->
                                </div>
                            </div>
                        </div>
                    </td>
                  <td class="box4">이웃, 일정, 선물박스
                      <br>
<!--                      <button id="neighborBtn" th:if="${session.zip.id} == ${zipId}" type="button"> 내 이웃 </button>-->
                      <button id="neighborBtn" th:if="${session.zip.id} == ${zipId}" type="button" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-3 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                          내 이웃
                      </button>
                  </td>
                </tr>
                <tr class="row2">
                  <td class="box7">
                      스토리
                      <div th:if="${stAttachments}" style="text-align: center">
                          <img th:src="${stAttachments.url}" style="width: 225px;display: inline-block;border-radius: 50%;"/>
                      </div>
                  </td>
                  <td class="box8">목표 가구</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="menu_bar">
        <a th:href="@{'/zip/zipDetail.do?id=' + ${zip.id}}" class="menu_button1">홈</a>
        <a th:href="@{/community/tipList.do}" class="menu_button3">팁공유</a>
        <a th:if="${session.zip.id} == ${zipId}" th:href="@{/community/diary.do}" class="menu_button2">다이어리</a>
<!--        <a th:href="@{/zip/visit.do}" class="menu_button4">방명록</a>-->
        <a th:href="@{'/zip/zipUpdate.do?id=' + ${session.zip.id}}" th:if="${session.zip.id} == ${zipId}" class="menu_button5">집 꾸미기</a>
      </div>
    </div>
</div>

<!--    <button id="neighborBtn" th:if="${session.zip.id} == ${zipId}" type="button">내 이웃</button>-->
<!--    <div class="flex justify-center items-center h-screen">-->
<!--        <a th:href="@{'/zip/zipUpdate.do?id=' + ${session.zip.id}}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-110">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>-->
<!--            </svg>-->
<!--        </a>-->
<!--    </div>-->

<div id="neighborModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>내 이웃</h2>
    <!-- 이웃 목록을 표시할 테이블 -->
    <table id="neighborTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Member</th>
        <th>Requested At</th>
      </tr>
      </thead>
      <tbody id="neighborList">
      <!-- 여기에 이웃 목록이 동적으로 추가될 예정 -->
     <tr th:each="neighbor, stat : ${neighbors}">
        <td th:text="${neighbor.get('memberId')}"></td>
        <td th:text="${neighbor.get('memberName')}"></td>
        <td th:text="${neighbor.get('requestedAt')}"></td>
        <td><button th:attr="onclick='deleteNeighbor(\'' + ${neighbor.get('id')} + '\',' + ${stat.index} + ')'">이웃 삭제</button></td>
      </tr>
      </tbody>
    </table>
  </div>

<!-- JavaScript 파일 연결 -->
    <script th:src="@{/js/neighbor/neighborList.js}"></script>
    <script th:src="@{/js/neighbor/neighborDelete.js}"></script>
    <script th:src="@{/js/zip/roomImage.js}"></script>
    <script th:src="@{/js/zip/zipRoom.js}"></script>

</body>
</div>

</html>
