<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/zip}">


<link rel="stylesheet" href="../../static/css/visit.css">
<div layout:fragment="content">

    <link rel="stylesheet" th:href="@{/css/zipDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/font.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/zipRoom.css}">
    <link rel="stylesheet" th:href="@{/css/neighborList.css}" />
    <link rel="stylesheet" th:href="@{/css/roomIamge.css}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${memberName} + ${zip.id} + '.zip'"></title>
        <style>
            .grid-cell {
                width: 100px;
                height: 100px;
            }
            .image-placeholder {
                background-color: #D1D5DB; /* Tailwind gray-300 */
            }
        </style>
    </head>
    <body>
    <div class="bookcover" th:style="'background-color:' + ${zipColorCode}">
        <div class="bookdot">
            <div class="page">
                <div class="home" >
                    <div class="upside">
                        <br><strong th:text="${'Today : ' + zipDayCount + ' | Total : ' + zipTotalCount}"></strong>
                        <div class="search_form_title">
                            <form id="searchForm" method="post">
                                <input type="text" id="memberId" name="memberId" placeholder="회원 아이디" required>
                                <input type="hidden" id="csrf" th:value="${_csrf.token}" />
                                <button type="submit">검색</button>
                            </form>
                            <button id="neighborBtn" th:if="${session.zip.id} == ${zipId}" type="button">내 이웃</button>
                        </div>
                    </div>
                    <div class="home_main">
                        <div class="home_contents bg-gray-100 flex flex-col justify-center items-center">
                            <div class="miniroom_title"><strong th:text="${memberName} + '님의 집 | 생성일 : ' + ${zipRegDate}"></strong></div>

                            <div class="bg-white shadow-md rounded-md p-6 max-w-md grid grid-cols-2 gap-4">
                                <div>
                                    <h1 class="text-black font-bold mb-4">집 꾸미기 페이지</h1>
                                    <form id="uploadFrm" action="/onezip/zip/zipUpdate.do" method="post" enctype="multipart/form-data">
                                        <div class="mb-4">
                                            <label for="imageUpload" class="block text-sm font-medium text-gray-700">이미지를 선택하세요:</label>
                                            <input type="file" id="imageUpload" name="upFile" accept="image/*" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" onchange="previewImage()">
                                            <input type="hidden" name="fileType" value="ZP" />
                                            <img id="imagePreview" class="mt-2 hidden" src="#" alt="이미지 미리보기">
                                        </div>
                                        <div class="mb-4">
                                            <label for="introduction" class="block text-sm font-medium text-black">소개글 입력하세요:</label>
                                            <textarea id="introduction" name="content" rows="3" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-black"></textarea>
                                        </div>
                                        <div class="mb-4">
                                            <label for="bgColor" class="block text-sm font-medium text-black">배경색을 선택하세요:</label>
                                            <input type="color" id="bgColor" name="colorCode" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                        </div>
                                        <button type="submit" class="inline-block bg-blue-500 text-white font-semibold px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">수정하기</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="menu_bar">
                    <a th:href="@{'/zip/zipDetail.do?id=' + ${zip.id}}" class="menu_button1">홈</a>
                    <a th:href="@{/zip/photo.do}" class="menu_button3">팁공유</a>
                    <a th:href="@{/zip/diary.do}" class="menu_button2">다이어리</a>
                    <a th:href="@{'/zip/zipUpdate.do?id=' + ${session.zip.id}}" th:if="${session.zip.id} == ${zipId}" class="menu_button5">집 꾸미기</a>
                </div>
            </div>
        </div>
    </div>

    <div id="neighborModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>내 이웃</h2>
            <!-- 이웃 목록을 표시할 테이블 -->
            <table id="neighborTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Member</th>
                    <th>Requested At</th>
                </tr>
                </thead>
                <tbody id="neighborList">
                <!-- 여기에 이웃 목록이 동적으로 추가될 예정 -->
                <tr th:each="neighbor, stat : ${neighbors}">
                    <td th:text="${neighbor.get('memberId')}"></td>
                    <td th:text="${neighbor.get('memberName')}"></td>
                    <td th:text="${neighbor.get('requestedAt')}"></td>
                    <td><button th:attr="onclick='deleteNeighbor(\'' + ${neighbor.get('id')} + '\',' + ${stat.index} + ')'">이웃 삭제</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <script>

            document.getElementById("uploadFrm").addEventListener("submit", function(e) {
                e.preventDefault();
                let url = '/onezip/zip/zipUpload.do';
                fetch(url, {
                    method : 'POST',
                    headers : {
                        'X-CSRF-TOKEN' : document.getElementById("csrf").value,
                    },
                    body : new FormData(this)
                }).then(res=>res.text()).then(data=>alert(data)).catch((e)=>console.log(e.message));
            });

            function previewImage() {
                const preview = document.getElementById('imagePreview');
                const file = document.getElementById('imageUpload').files[0];
                const reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                    preview.classList.remove('hidden');
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                    preview.classList.add('hidden');
                }
            }
        </script>

        <!-- JavaScript 파일 연결 -->
        <script th:src="@{/js/neighbor/neighborList.js}"></script>
        <script th:src="@{/js/neighbor/neighborDelete.js}"></script>
        <script th:src="@{/js/zip/roomImage.js}"></script>
    </body>
</div>

</html>
