<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>회원 정보</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="mt-20 mx-36">
	<div class="mb-24 px-96" >

		<div class="hidden sm:block">
			<nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
				<!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
				<a href="#" class="text-gray-900 rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10" aria-current="page">
					<span>회원정보 수정</span>
					<span aria-hidden="true" class="bg-indigo-500 absolute inset-x-0 bottom-0 h-0.5"></span>
				</a>
				<a href="#" class="text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10">
					<span>결제내역</span>
					<span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
				</a>
				<a href="#" class="text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10">
					<span>배송지관리</span>
					<span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
				</a>
				<a href="#" class="text-gray-500 hover:text-gray-700 rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10">
					<span>내 게시물</span>
					<span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
				</a>
			</nav>
		</div>
	</div>
	<div class="max-w-4xl mx-auto py-10">
		<form name="memberCreateFrm" th:action="@{/member/updateMember.do}" method="post" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg overflow-hidden">
			<div class="px-4 py-6 sm:p-8">
				<div class="grid grid-cols-1 gap-y-8">
					<!-- 아이디 -->
					<div class="grid grid-cols-1 gap-y-2">
						<label for="memberId" class="text-sm font-medium text-gray-900">아이디</label>
						<input id="memberId" name="memberId" type="memberId" autocomplete="memberId" th:value="${#authentication.principal.member.memberId}" class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" readonly>
					</div>

					<!-- 이름 -->
					<div class="grid grid-cols-1 gap-y-2">
						<label for="name" class="text-sm font-medium text-gray-900">이름</label>
						<input id="name" name="name" type="text" autocomplete="name" th:value="${#authentication.principal.member.name}" class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
					</div>

					<!-- 닉네임 -->
					<div class="grid grid-cols-1 gap-y-2">
						<label for="nickname" class="text-sm font-medium text-gray-900">닉네임</label>
						<input id="nickname" name="nickname" type="text" autocomplete="nickname" th:value="${#authentication.principal.member.nickname}" class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
					</div>

					<!-- 취미 -->
					<div class="grid grid-cols-1 gap-y-2">
						<label for="hobby" class="text-sm font-medium text-gray-900">취미</label>
						<input id="hobby" name="hobby" type="text" autocomplete="hobby" th:value="${#authentication.principal.member.hobby}" class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
					</div>

					<!-- MBTI -->
					<div class="grid grid-cols-1 gap-y-2">
						<label for="mbti" class="text-sm font-medium text-gray-900">MBTI</label>
						<select id="mbti" name="mbti" th:value="${#authentication.principal.member.mbti}" class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
							<option selected>MBTI를 선택해주세요</option>
							<option value="INTJ" th:selected="${#authentication.principal.member.mbti == 'INTJ'}">INTJ</option>
							<option value="INTP" th:selected="${#authentication.principal.member.mbti == 'INTP'}">INTP</option>
							<option value="ENTJ" th:selected="${#authentication.principal.member.mbti == 'ENTJ'}">ENTJ</option>
							<option value="ENTP" th:selected="${#authentication.principal.member.mbti == 'ENTP'}">ENTP</option>
							<option value="INFJ" th:selected="${#authentication.principal.member.mbti == 'INFJ'}">INFJ</option>
							<option value="INFP" th:selected="${#authentication.principal.member.mbti == 'INFP'}">INFP</option>
							<option value="ENFJ" th:selected="${#authentication.principal.member.mbti == 'ENFJ'}">ENFJ</option>
							<option value="ENFP" th:selected="${#authentication.principal.member.mbti == 'ENFP'}">ENFP</option>
							<option value="ISTJ" th:selected="${#authentication.principal.member.mbti == 'ISTJ'}">ISTJ</option>
							<option value="ISFJ" th:selected="${#authentication.principal.member.mbti == 'ISFJ'}">ISFJ</option>
							<option value="ESTJ" th:selected="${#authentication.principal.member.mbti == 'ESTJ'}">ESTJ</option>
							<option value="ESFJ" th:selected="${#authentication.principal.member.mbti == 'ESFJ'}">ESFJ</option>
							<option value="ISTP" th:selected="${#authentication.principal.member.mbti == 'ISTP'}">ISTP</option>
							<option value="ISFP" th:selected="${#authentication.principal.member.mbti == 'ISFP'}">ISFP</option>
							<option value="ESTP" th:selected="${#authentication.principal.member.mbti == 'ESTP'}">ESTP</option>
							<option value="ESFP" th:selected="${#authentication.principal.member.mbti == 'ESFP'}">ESFP</option>
						</select>
					</div>
				</div>
			</div>
			<div class="flex justify-end items-center gap-x-4 p-4 border-t border-gray-200">
				<a th:href="@{/}" class="text-indigo-600 hover:text-indigo-500">취소</a>
				<button type="submit" class="bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-2 px-4 rounded">수정</button>
			</div>
		</form>
	</div>
</div>
<!--<script layout:fragment="script"></script>-->
<script layout:fragment="script" th:src="@{/js/member/memberAddr.js}"></script>
</html>
