<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/createMember.css" />
    <title>ONEZIP</title>
</head>
<body class="bg-white text-black">
<header th:fragment="header">
    <nav class="bg-white border-gray-200 border-b" style="position: relative; z-index: 9999;">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 bg-white text-black">
            <a th:href="@{/}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img th:src="@{/images/로고_변경된색상.svg}" class="w-20 h-20">
                <span class="self-center text-2xl font-semibold whitespace-nowrap">ONE.ZIP</span>
            </a>
            <th:block sec:authorize="isAuthenticated()">
            <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" src="https://mblogthumb-phinf.pstatic.net/MjAyMDA1MDZfNTYg/MDAxNTg4NzI1MTUzODQ4.BwsJ8pnxflMMXOJaOa2I4iS9Kafmbx6UFwX6m_D4iX4g.InicniBOi-zZKtGE4Pi6oHxqfEUBVZEqIdoA2YnYi5kg.JPEG.leejy826/output_3493099570.jpg?type=w800" alt="user photo">
<!--                    <div th:if="${pfAttachments}" style="text-align: center">-->
<!--                        <img th:src="${pfAttachments.url}" class="w-8 h-8 rounded-full"/>-->
<!--                    </div>-->
                </button>
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                    <div class="px-4 py-3">
                        <span sec:authentication="principal.username" th:title="${#authentication.authorities}" class="block text-sm text-gray-900">님</span>
                        <span class="block text-sm text-gray-500 truncate">안녕하세요😀</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
<!--                        <li>-->
<!--                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">마이룸</a>-->
<!--                        </li>-->
                        <li>
                            <a th:href="@{/member/memberDetail.do}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">마이페이지</a>
                        </li>
                        <li>
                            <a th:href="@{/product/productOrderList.do}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">결제내역</a>
                        </li>
                        <form th:action="@{/auth/logout.do}" method="post" class="d-inline">
                        <button class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" type="submit">로그아웃</button>
                        </form>
                    </ul>
                </div>
            </div>
            </th:block>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                <ul class="flex flex-col font-medium p-4 mt-4 border border-gray-100 rounded-lg bg-white md:p-0 md:space-x-8 md:flex-row md:mt-0 md:border-0 mt-3">
<!--                    <li>-->
<!--                        <a th:href="@{/zip/zipDetail.do}" class="block py-2 px-3 text-gray-900 hover:bg-gray-100 hover:border-b hover:border-gray-400 md:hover:bg-transparent md:p-0">미니홈피</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" th:if="${session.zip}" th:href="@{'/zip/zipDetail.do?id=' + ${session.zip.id}}">미니홈피</a>
                        <a class="nav-link" th:unless="${session.zip}" th:href="@{/zip/zipCreate.do}">미니홈피</a>
                    </li>
                    <li>
                        <a th:href="@{/product/productList.do}" class="block py-2 px-3 text-gray-900 hover:bg-gray-100 hover:border-b hover:border-gray-400 md:hover:bg-transparent md:p-0">쇼핑</a>
                    </li>
                    <!-- HBK admin, business header 추가 -->
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <a href="/onezip/admin/memberList.do">회원 목록</a>
                        <a href="/onezip/admin/customerACenterList.do">고객 센터</a>
                    </th:block>
                    <th:block sec:authorize="hasRole('BUSINESS')">
                        <a th:href="@{'/business/productList.do?id=' + ${#authentication.principal.member.id}}">사업자 전용</a>
                    </th:block>
                    <!-- HBK header 추가 end-->
                    <th:block sec:authorize="isAnonymous()">
                    <li>
                        <a href="#" th:onclick="|location.href='@{/auth/login.do}';|" class="block py-2 px-3 text-gray-900 hover:bg-gray-100 hover:border-b hover:border-gray-400 md:hover:bg-transparent md:p-0">로그인</a>
                    </li>
                    <li>
                        <a href="#" th:onclick="|location.href='@{/member/selectMemberType.do}';|" class="block py-2 px-3 text-gray-900 hover:bg-gray-100 hover:border-b hover:border-gray-400 md:hover:bg-transparent md:p-0">회원가입</a>
                    </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>
