<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<head>
  <title>사업자 - 질문 상세 리스트</title>
</head>
<style layout:fragment="style">
</style>

<div layout:fragment="content">
  <form name="businessFrm" th:action="@{/businessmanagement/businessqanswerdetail.do}" method="post" enctype="multipart/form-data">
    <section id="product-container" class="container">
      <h1>문의 내역</h1>
      <table id="tbl-product" class="table table-striped table-hover">
        <thead>
        <tr>
          <th>문의번호</th>
          <th>작성자</th>
          <th>문의내용</th>
        </tr>
        </thead>
        <tbody>
          <!--   질문고유번호    -->
          <input type="hidden" name="id" th:if="${question.productAnswer != null}" th:value="${question.productAnswer.id}">
<!--          <input type="hidden" name="id" th:value="${question.productAnswer.id}">-->
          <td th:text="${question.id}"></td>
          <td th:text="${question.memberId}"></td>
          <td><input type="text" class="form-control mb-3" placeholder="무엇이든 문의하세요^_^" name="qContent" id="qContent" th:value="${question.qContent}" required></td>
          <!--          <td th:text="${#temporals.format(question.qRegdate, 'yyyy/MM/dd')}"></td>-->
        </tbody>
      </table>

      <h1>답변 하기</h1>
      <table id="tbl-product1" class="table table-striped table-hover">
        <thead>
        <tr>
          <th>답변</th>
        </tr>
        </thead>
        <tbody>
        <!--   답변고유번호    -->
<!--        <input type="hidden" name="id" th:value="${question.productAnswer.id}">-->
          <td>
            <input type="text" class="form-control mb-3" placeholder="답변해주세요!" name="aContent" id="aContent" th:if="${question.productAnswer != null}" th:value="${question.productAnswer.aContent}" required>
<!--                  <td th:text="${#temporals.format(question.productAnswer.aRegdate, 'yyyy/MM/dd')}"></td> </td>-->
      </tbody>
      </table>

      <input type="submit" class="btn btn-outline-success d-inline-block mr-2" value="등록하기">
      <a href="javascript:confirm('정말 수정하시겠습니까? 😯') && document.businessFrm.submit();" class="btn btn-outline-success d-inline-block mr-2">수정하기</a>
      <a href="javascript:if(confirm('이전으로 돌아가시겠습니까? 😲')) window.location.href='businessqanswerlist.do?bizMemberId=moneylove';" class="btn btn-outline-success d-inline-block mr-2">목록</a>

    </section>
  </form>
</div>
<script layout:fragment="script">
</script>

</html>
