<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">

<head>
  <title>사업자 - 질문 전체 리스트</title>
</head>
<style layout:fragment="style">
  tr[data-businessproduct-id] {
    cursor: pointer;
  }
</style>

<div layout:fragment="content">
  <section id="product-container" class="container">
      <p>총 [[${totalCount}]]건의 상품이 조회되었습니다.</p>
      <table id="tbl-product" class="table table-striped table-hover">
        <thead>
        <tr>
          <th>No</th>
          <th>작성자</th>
          <th>상품명</th>
          <th>문의내용</th>
          <th>날짜</th>
          <th>비고</th>
        </tr>
        </thead>
        <tbody>
<!--        model.addAttribute("questions", productQuestionPage.getContent()); // 사업자 로그인 시 전체 질문 목록-->
        <tr th:each="question, status : ${questions}" th:data-question-id="${question.id}">
          <!--           model.addAttribute("question", 문의상세페이지Dto);           -->
          <td th:text="${question.id}"></td>
          <td th:text="${question.memberId}"></td>
          <td th:text="${question.product.productName}"></td>
          <td th:text="${question.qContent}"></td>
<!--          <td th:text="${#temporals.format(question.qRegdate, 'yyyy/MM/dd')}"></td>-->
          <td>
    </td>
    </tr>
    </tbody>
    </table>
    <div id="pagebar">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <th:block th:utext="${pagebar}"/>
        </ul>
      </nav>
    </div>
  </section>
</div>
<script layout:fragment="script" th:src="@{/js/businessQanswer/businessQanswer.js}">
</script>
</html>
