<!--<!DOCTYPE html>-->
<!--<html-->
<!--        xmlns:th="http://www.thymeleaf.org"-->
<!--        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--        layout:decorate="~{layout/default}">-->
<!--<head>-->
<!--    <title>사업자 - 상품 상세 페이지 얘 안쓸거임 일단 예시 페이지~~~~</title>-->
<!--</head>-->
<!--<style layout:fragment="style"></style>-->

<!--<div layout:fragment="content">-->
<!--    <div id="product-container" class="w-50 mx-auto text-center">-->
<!--        <p th:text="${businessproduct.productName}" th:style="'font-size: 40px;'"></p>-->
<!--        <span th:text="|할인 전: ${businessproduct.productPrice}원|" th:style="'text-decoration:line-through; margin-right: 10px;'"></span>-->
<!--        <span th:text="|할인 후: ${businessproduct.sellPrice}원|" th:style="'color: red;'"></span>-->
<!--        <br>-->
<!--        <span th:text="|구매수량:|"><span th:style="'margin-right: 10px;'"></span></span>-->
<!--        <span th:text="|최종 가격: ${businessproduct.sellPrice}원|" th:style="'color: red;'"></span>-->

<!--<div>-->
<!--            &lt;!&ndash;            <textarea class="form-control  mb-3" name="content" placeholder="내용" required></textarea>&ndash;&gt;-->
<!--    <input type="submit" class="btn btn-outline-success d-inline-block" value="취소하기"-->
<!--           onclick="javascript:window.history.back();">-->
<!--            &lt;!&ndash; 수정 버튼 &ndash;&gt;-->
<!--            <input type="button" value="수정" id="btn-update" class="btn btn-outline-success d-inline-block mr-2"-->
<!--                   th:onclick="|location.href = '@{/businessproduct/businessproductupdate.do}';|" method="get"/>-->

<!--            &lt;!&ndash; 삭제 버튼 &ndash;&gt;-->
<!--            <input type="button" value="삭제" id="btn-delete" class="btn btn-outline-success d-inline-block"-->
<!--                   th:onclick="|location.href = '@{/businessproduct/businessproductupdate.do}';|" method="post"/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script layout:fragment="script"></script>-->
<!--</html>-->