<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>사업자 - 상품 등록 페이지</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <div id="business-container" class="w-1/2 mx-auto text-center">
        <form name="businessFrm"
              th:action="@{/businessproduct/businessproductcreate.do}"
              method="post"
              enctype="multipart/form-data"
              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <input type="text" class="form-input mb-3" placeholder="상품명" name="productName" id="productName" required>
                <input type="text" class="form-input mb-3" placeholder="상품가격" name="productPrice" id="productPrice" required>
                <input type="text" class="form-input mb-3" placeholder="할인율" name="discountRate" id="discountRate" th:min="0" th:max="100" required>
                <input type="text" class="form-input mb-3" placeholder="상품분류코드" name="productTypecode" id="productTypecode" required>
            </div>

            <div id="innerOption" th:value="0" class="mb-4"></div>

            <div class="mb-4">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" th:text="|옵션 추가하기|" id="createOptionBtn"></button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" th:text="|옵션 삭제하기|" id="deleteOptionBtn"></button>
            </div>

            <div class="mb-4">
                <div class="flex items-center justify-center">
                    <span class="mr-2">첨부파일</span>
                    <label for="upFile" class="cursor-pointer bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                        <input type="file" class="hidden" name="upFile" id="upFile" multiple>
                        <span class="text-sm">파일을 선택하세요</span>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                <input type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded inline-block mr-2" value="등록하기">
                <a href="javascript:if(confirm('이전으로 돌아가시겠습니까? 😲')) window.location.href='businessproductlist.do?bizMemberId=moneylove';" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded inline-block">뒤로가기</a>
            </div>
        </form>
    </div>
</div>

<script layout:fragment="script" th:src="@{/js/businessProduct/businessProductCreate.js}"></script>
</html>