<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>사업자 - 상품 디테일 및 수정페이지</title>
    <!--  수정 버튼 클릭 하면 동기처리  -->
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <div id="business-container" class="w-50 mx-auto text-center">
        <form name="businessFrm"
              th:action="@{/businessproduct/businessproductdetail.do}"
              method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="id"  th:value="${businessproduct.id}">
            <input type="text" class="form-control mb-3" placeholder="상품명" name="productName" id="productName" th:value="${businessproduct.productName}"required>
            <input type="text" class="form-control mb-3" placeholder="상품가격" name="productPrice" id="productPrice" th:value="${businessproduct.productPrice}"required>
            <!--            <input type="text" class="form-control mb-3" placeholder="할인율" name="discountRate" id="discountRate" required>-->
            <!--            <input type="text" class="form-control mb-3" placeholder="판매가격(할인 후)" name="sellPrice" id="sellPrice" th:value="${product.sellPrice}"required>-->
            <!--            <input type="text" class="form-control mb-3" placeholder="옵션명" name="optionName" id="optionName" required>-->
            <!--            <input type="text" class="form-control mb-3" placeholder="옵션금액(추가요금)" name="optionCost" id="optionCost" required>-->
            <input type="text" class="form-control mb-3" placeholder="상품분류코드" name="productTypecode" id="productTypecode" th:value="${businessproduct.productTypeCode}"required>
            <input type="text" class="form-control mb-3" placeholder="적용 할인율" name="discountRate" id="discountRate" th:value="${businessproduct.discountRate}"required>
            <input type="text" class="form-control mb-3" placeholder="할인 적용 금액" name="productDiscount" id="sellPrice" th:value="${businessproduct.sellPrice}"required>
            <div th:if="!${#lists.isEmpty(businessproduct.productOptions)}" class="mb-4">
                    <span th:each="productOption : ${businessproduct.productOptions}">
<!--                        <option th:value="|${productOption.id}#${productOption.optionCost}|"-->
                        <!--                                th:text="|${productOption.optionName} +${productOption.optionCost}원|">-->
                        <!--                        </option>-->
                        <div><p>옵션 명: </p><input type="text" th:value="${productOption.optionName}"></div>
                        <div><p>옵션 금액: </p><input type="text" th:value="${productOption.optionCost}"></div>
                        <div><p>옵션 수량: </p><input type="text" th:value="${productOption.totalStock}"></div>
                    </span>
            </div>
            <!--            <br>-->
            <!--            <span th:text="|재고수량:|"><span th:style="'margin-right: 10px;'"></span></span>-->
            <!--            <span><button id="plus-btn" class="quantity-btn">+</button></span>-->
            <!--            <input id="product-quantity" name="productQuantity" type="text" th:value="${businessproduct}" style="width: 45px; border: none; outline: none; text-align: center;">-->
            <!--            <span><button id="minus-btn" class="quantity-btn">-</button></span>-->
            <!--            <br>-->
            <!--            <br>-->
            <!--            <span th:text="|최종 가격:|" th:style="'color: red;'"></span>-->
            <!--            <input id="product-totalPrice" name="totalPrice" type="number" th:value="${businessproduct.productPrice}" style="width: 100px; border: none; outline: none; text-align: center; color: red;" disabled readonly>-->
            <!--            <span th:text="|원|" th:style="'color: red; margin-right: 50px;'"></span>-->
            <!--            </br>-->
            <!-- input:file소스 : https://getbootstrap.com/docs/4.1/components/input-group/#custom-file-input -->
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="upFile" id="upFile" multiple>
                <label class="custom-file-label" for="upFile"></label>
            </div>
            <div class="input-group mb-3" style="padding:0px;" >
                <div th:each="attachment : ${businessproduct.attachmentList}" class="input-group-prepend" style="padding:0px;">
                    <span class="input-group-text"><img th:src="${attachment.url}"></span>
                </div>
            </div>
            <!--/businessproduct/businessproductlist.do?bizMemberId=" + businessmember.getBizMemberId();-->
            <!--            <textarea class="form-control  mb-3" name="content" placeholder="내용" required></textarea>-->
            <a href="javascript:confirm('정말 수정하시겠습니까? 😯') && document.businessFrm.submit();" class="btn btn-outline-success d-inline-block mr-2">수정하기</a>
            <!--     로그인하면 이코드 쓰면됨 저 moneylove는 하드코딩때문에ㅠㅠㅠ       -->
            <!--            <a href="javascript:if(confirm('이전으로 돌아가시겠습니까? 😲')) window.location.href='/businessproductlist.do';" class="btn btn-outline-success d-inline-block mr-2">뒤로가기</a>-->
            <a href="javascript:if(confirm('이전으로 돌아가시겠습니까? 😲')) window.location.href='businessproductlist.do?bizMemberId=moneylove';" class="btn btn-outline-success d-inline-block mr-2">뒤로가기</a>
        </form>
    </div>
</div>
<script layout:fragment="script" th:src="@{/js/businessProduct/businessProductDetail.js}">
</script>
</html>