<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>사업자 - 상품 등록 페이지</title>
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <div id="business-container" class="w-50 mx-auto text-center">
        <form name="businessFrm"
              th:action="@{/businessproduct/businessproductcreate.do}"
              method="post"
              enctype="multipart/form-data">
<!--            <input type="hidden" name="bizMemberId" value="moneylove">-->
            <input type="text" class="form-control mb-3" placeholder="상품명" name="productName" id="productName" required>
            <input type="text" class="form-control mb-3" placeholder="상품가격" name="productPrice" id="productPrice" required>
 <!--            <input type="text" class="form-control mb-3" placeholder="할인율" name="discountRate" id="discountRate" required>-->
            <input type="text" class="form-control mb-3" placeholder="판매가격(할인 후)" name="sellPrice" id="sellPrice" required>
<!--            <input type="text" class="form-control mb-3" placeholder="옵션명" name="optionName" id="optionName" required>-->
<!--            <input type="text" class="form-control mb-3" placeholder="옵션금액(추가요금)" name="optionCost" id="optionCost" required>-->
            <input type="text" class="form-control mb-3" placeholder="상품분류코드" name="productTypecode" id="productTypecode" required>
            <!-- input:file소스 : https://getbootstrap.com/docs/4.1/components/input-group/#custom-file-input -->
            <div class="input-group mb-3" style="padding:0px;">
                <div class="input-group-prepend" style="padding:0px;">
                    <span class="input-group-text">첨부파일</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="upFile" id="upFile" multiple>
                    <label class="custom-file-label" for="upFile">파일을 선택하세요</label>
                </div>
            </div>

<!--            <textarea class="form-control  mb-3" name="content" placeholder="내용" required></textarea>-->
            <input type="submit" class="btn btn-outline-success d-inline-block mr-2" value="등록하기">
            <input type="submit" class="btn btn-outline-success d-inline-block" value="취소하기"
                   onclick="javascript:window.history.back();">
        </form>
    </div>
</div>

<script layout:fragment="script"></script>
</html>