<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>사업자 - 상품 디테일 및 수정페이지</title>
<!--  수정 버튼 클릭 하면 동기처리  -->
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <div id="business-container" class="w-50 mx-auto text-center">
        <form name="businessFrm"
              th:action="@{/businessproduct/businessproductdetail.do}"
              method="post"
              enctype="multipart/form-data">
                        <input type="hidden" name="id"  th:value="${businessproduct.id}">
            <input type="text" class="form-control mb-3" placeholder="상품명" name="productName" id="productName" th:value="${businessproduct.productName}"required>
            <input type="text" class="form-control mb-3" placeholder="상품가격" name="productPrice" id="productPrice" th:value="${businessproduct.productPrice}"required>
            <!--            <input type="text" class="form-control mb-3" placeholder="할인율" name="discountRate" id="discountRate" required>-->
<!--            <input type="text" class="form-control mb-3" placeholder="판매가격(할인 후)" name="sellPrice" id="sellPrice" th:value="${product.sellPrice}"required>-->
            <!--            <input type="text" class="form-control mb-3" placeholder="옵션명" name="optionName" id="optionName" required>-->
            <!--            <input type="text" class="form-control mb-3" placeholder="옵션금액(추가요금)" name="optionCost" id="optionCost" required>-->
            <input type="text" class="form-control mb-3" placeholder="상품분류코드" name="productTypecode" id="productTypecode" th:value="${businessproduct.productTypeCode}"required>
            <!-- input:file소스 : https://getbootstrap.com/docs/4.1/components/input-group/#custom-file-input -->
            <div class="input-group mb-3" style="padding:0px;">
                <div class="input-group-prepend" style="padding:0px;">
                    <span class="input-group-text">첨부파일</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="upFile" id="upFile" multiple>
                    <label class="custom-file-label" for="upFile">파일을 선택하세요</label>
                </div>
            </div>

            <!--            <textarea class="form-control  mb-3" name="content" placeholder="내용" required></textarea>-->
            <input type="button"
                   onclick="confirmEdit()"
                   class="btn btn-outline-success d-inline-block mr-2" value="수정하기">
        </form>
<!--            <input type="button"-->
<!--                   onclick="confirm('정말 삭제하시겠습니까? 😯') && document.querySelector('#bizProductDeleteFrm').submit()"-->
<!--                   class="btn btn-outline-success d-inline-block mr-2" value="삭제하기">-->
<!--            <input type="button"-->
<!--                   onclick="confirm('이전페이지로 돌아가시겠습니까? 😯') && document.querySelector('#bizProductUpdateFrm').submit()"-->
<!--                   class="btn btn-outline-success d-inline-block mr-2" value="뒤로가기">-->
        </form>
    </div>
</div>

<script layout:fragment="script">
    function confirmEdit() {
        if (confirm('정말 수정하시겠습니까? 😯')) {
            document.querySelector('form[name="businessFrm"]').submit();
        }
    }

</script>
</html>